<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body>
<header>
    <% include partials/header %>
</header> 
	<div class="container">

		<div><h1><%=beaver.name %> beaver</h1></div>

		<div id=details >
			<ul>
				<li>
					<h6>Name</h6>
					<h5 id="name"><%=beaver.name %></h5>
				</li>
				<li>
					<h6>Sex</h6>
					<h5 id="sex"><%=beaver.sex %></h5>
				</li>
				<li>
					<h6>Birthdate</h6>
					<h5 id="birthdate"><%=beaver.date %></h5>
				</li>
				<li>
					<h6>Health</h6>
					<h5 id="health"><%=beaver.health %></h5>
				</li>
				<li>
					<h6>Location</h6>
					<h5 id="address"><%=beaver.location %></h5>
				</li>
			</ul>
		</div>

		<br>

		<div>
			<iframe width="400" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB74nabs8eomrEcn7WQCjZAaJJcGUXV0bY &q=<%=beaver.location %>" allowfullscreen></iframe>
		</div>

		<br>

		<div id=buttons>
			<a type="submit" href =<%= "/sightings/new/" + beaver._id %> class="waves-effect waves-light btn col s2" >Log Sighting</a>
			<a type="submit" href =<%= "/sightings/" + beaver._id %> class="waves-effect waves-light btn col s2" >See logs</a>
			<a type="submit" href =<%= "../edit/" + beaver._id %> class="waves-effect waves-light btn col s2" >Edit details</a>
			<a type="submit" href =<%= "../delete/" + beaver._id %> class="waves-effect waves-light btn col s2" >Delete Info</a>
		</div>

    </div>

<footer>
    <% include partials/footer %>
</footer>
</html>